# Logs
logs
*.log

# PID files
*.lock

# Runtime data
pids
*.pid
*.seed
passenger.*.log
passenger.*.pid.lock

# Coverage directory used by tools like istanbul
coverage

# Dependency directory
# Deployed apps should consider commenting this line out:
# see https://npmjs.org/doc/faq.html#Should-I-check-my-node_modules-folder-into-git
node_modules
node_modules/**
bower_components
bower_components/**

# Ignore .env configuration files
.env

# Ignore .DS_Store files on OS X
.DS_Store

# Ignore secret stuff
**/secrets.pyc
secrets.py
gce.ini
pem.key


# Smashing Dev Tool stuff
docs
.groc.json
dump
.tape
