/*
  COLORS:
  charcoal: #282828;
  pink: #eb1767;
  gray: #bcbec0;
  dark-gray: #4d4d4f;
*/

* {
  box-sizing: border-box;
}

*::before, *::after {
  box-sizing: inherit;
}

*:focus {
  outline: none;
}

html, body {
  position: relative;
  display: block;
  height: 100%;
  background: #282828;
  color: white;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

#main {
  height: 100%;
}

h1 {
  text-transform: uppercase;
  letter-spacing: 4px;
  margin: 0;
}

h2 {
  color: #eb1767;
  letter-spacing: 2px;
  margin: 0;
}

button {
  background-color: #eb1767;
  border: 0;
  border-radius: 2px;
  margin: 2px;
}

label {
  margin-right: 5px;
}

fieldset {
  padding: 6px;
}

input {
  color: #282828;
  background-color: #bcbec0;
  border: 0;
  margin-bottom: 0;
  width: 100%;
}

.presentation {
  height: 100%;
  width: 100%;
  position: relative;
}

.slide {
  height: 100%;
  width: 100%;
  position: relative;
}

.message {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  top: 70vh;
}

.present-image {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.present-controls {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px;
}
